# fly.toml app configuration file generated for backend-green-fog-6124 on 2026-02-01T10:25:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-green-fog-6124'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.25.6'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
